<div class="PokemonFilter_MainContainer">

    <div class="PokemonFilter_FilterContainer" [@collapse]="collapsed">
        <div class="PokemonFilter_Filter">
            <div class="PokemonFilter_FilterHeader">
                <h2>Filtra por tipo</h2>
            </div>
            <div class="PokemonFilter_FilterContent">
                <div class="PokemonFilter_FilterType"  
                    *ngFor="let pokemonType of (usePokemonTypes.pokemonTypes$ | async)?.data" 
                    (click)="filterByTypeEvent.emit(pokemonType.name)">
                    <app-pokemon-type-pill [pokemonType]="pokemonType"></app-pokemon-type-pill>
                </div>
            </div>
        </div>
        <div class="PokemonFilter_Filter">
            <div class="PokemonFilter_FilterHeader">
                <h2>Filtra por nombre o id</h2>
            </div>
            <div class="PokemonFilter_FilterContent">
                <div class="PokemonFilter_FilterName">
                    <mat-form-field class="example-full-width">
                        <mat-label>Pokemon name/id</mat-label>
                            <input matInput 
                                id="filterByNameInput"
                                type="text" 
                                [(ngModel)]="filterByName">
                    </mat-form-field>
                    <button
                        mat-raised-button
                        color="primary" 
                        id="filterByNameButton"
                        [disabled]="!filterByName" 
                        (click)="filterByNameEvent.emit(filterByName)">
                            Filtrar por nombre
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="PokemonFilter_ActionsContainer">
        <button 
            [@rotate]="!collapsed"
            (click)="toggle()"
            mat-mini-fab 
            color="primary" 
            aria-label="Open pokemon list filter">
                <mat-icon
                    >keyboard_arrow_down</mat-icon>
        </button>
    </div>
</div>