<div class="PokemonList_MainContainer">
    <div class="PokemonList_Container">
        <div class="PokemonList_ContentContainer" 
            appIntersectionObserver 
            (isIntersecting)="isIntersecting($event)"
            [offset]="50"
            [active]="infiniteListScroll">
            <div  class="PokemonList_List" 
                *ngFor="let pokemon of pokemons"
            >
                <app-pokemon-card [pokemon]="pokemon" [isLoading]="loading"></app-pokemon-card>
            </div>
        </div>
    </div>
</div>
