:host {
    width: 100%;
}

.PokemonList_MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    .PokemonList_Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .PokemonList_ContentContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            justify-content: space-around;
            padding: 60px 20px;
            background-color: #ffff;
            height: 100%;
            gap: 20px;
            width: 80%;
        }
    }
}

