:host {
    width: 100%;
}

.PokemonList_MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #fff  url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");

    position: relative;

    .PokemonList_Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .PokemonList_Header {
            display: flex;
            justify-content: center;

            background-color: #616161;
            width: 100%;

            padding: 16px 0px;
            color: #ffff;
        }

        .PokemonList_Filter {
            display: flex;
            flex-direction: column;
        }

        .PokemonList_ContentContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            justify-content: space-around;
            padding: 60px 20px;
            background-color: #ffff;
            height: 100%;
            gap: 20px;
            width: 80%;
        }
    }
}

