<div class="PokemonInfo_MainContainer">
    <div class="PokemonInfo_PokemonData">
        <div class="PokemonInfo_PokemonTypes">
            <h2>Types:</h2>
            <div class="PokemonInfo_InfoCard">
                <app-pokemon-type-pill 
                    [pokemonType]="type" 
                    *ngFor="let type of pokemon.types"
                ></app-pokemon-type-pill>
            </div>
        
        </div>
        <div class="PokemonInfo_PokemonBasics">
            <h2>Data:</h2>
            <p>Height: {{pokemon.height}}</p>
            <p>Weight: {{pokemon.weight}}</p>
        </div>
    </div>
    <div class="PokemonInfo_PokemonMoves">
        <h2>Moves:</h2>
        <div class="PokemonInfo_InfoCard">
            <mat-chip-listbox aria-label="Types">
                <mat-chip-option *ngFor="let move of pokemon.moves">{{move}}</mat-chip-option>
            </mat-chip-listbox>
        </div>
    </div>
</div>