<div class="PokemonListFilter_MainContainer">
    <div class="PokemonListFilter_FilterContainer" [@collapse]="collapsed">
        <div *ngFor="let pokemonType of (usePokemonTypes.pokemonTypes$ | async)?.data">
            <app-pokemon-type-pill [pokemonType]="pokemonType"></app-pokemon-type-pill>
        </div>
    </div>
    <div class="PokemonListFilter_ActionsContainer">
        <button 
        (click)="toggle()"
        mat-mini-fab 
        color="primary" 
        aria-label="Open pokemon list filter">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>
</div>