<div class="PokemonListFilter_MainContainer">
    <div class="PokemonListFilter_FilterContainer" [@collapse]="collapsed">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque feugiat aliquet libero sit amet dictum. Nunc sagittis elit eget mauris tincidunt, sit amet hendrerit felis aliquet. Ut dictum sodales luctus. Fusce vitae nulla quis risus vulputate malesuada. Etiam augue lorem, tempor quis nibh ac, tristique iaculis turpis. Aenean eget blandit tellus, fringilla volutpat magna. Vestibulum gravida molestie nibh. Nunc fermentum leo vel ipsum iaculis, sit amet blandit nisi ullamcorper. Aliquam malesuada laoreet sapien, vitae venenatis diam venenatis vitae. Aliquam vel diam at ipsum dictum sollicitudin. Quisque vel quam consectetur, feugiat odio non, gravida arcu. Etiam vitae sapien nibh. Praesent sollicitudin sit amet erat ut volutpat.
        </p>
    </div>
    <div class="PokemonListFilter_ActionsContainer">
        <button 
        (click)="toggle()"
        mat-mini-fab 
        color="primary" 
        aria-label="Open pokemon list filter">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>

</div>