.PokemonListFilter_MainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #616161;
    .PokemonListFilter_FilterContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
        justify-content: flex-start;
        
        .PokemonListFilter_Filter {
            display: flex;
            flex-direction: column;
            align-items: center;

            .PokemonListFilter_FilterHeader {

            }
            .PokemonListFilter_FilterContent {
                display: flex;
                flex-direction: row;
                gap: 10px;
                width: 80%;
                flex-wrap: wrap;
                justify-content: center;

                .PokemonListFilter_FilterType {
                    cursor: pointer;
                }

                button {
                    margin-bottom: 35px;  
                }
            }
        }
    }
    .PokemonListFilter_ActionsContainer {
        position: relative;
    
        button {
            position: absolute;
            bottom: -20px;
            right: calc(50% - 20px);
            z-index: 3;
        }
    
    }
}
