<nav class="Navbar_MainContainer">
    <ul class="Navbar_LinkList">
        <li class="Navbar_Link">
            <a id="homeLink" routerLink="home" [routerLinkActive]="'is-active'">Home</a>
        </li>
        <li class="Navbar_Link">
            <a id="aboutLink" routerLink="about" [routerLinkActive]="'is-active'">About</a>
        </li>
        <li class="Navbar_Link"></li>
        <li class="Navbar_Link"></li>
        <li class="Navbar_Link"></li>
        <li class="Navbar_Link"></li>
    </ul>

</nav>