@use '../../../colors.scss';

.Header_MainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ffff;
    height: 60px;
    z-index: 7;

    box-shadow: #424242 0px -10px 20px 0px;

    p {
        margin: 0;
    }
}
