<div class="PokemonCard_MainContainer"
  [@shake]="animationActive"
  (mouseenter)="toggle()"
  (mouseleave)="toggle()"
  [routerLink]="['/home', pokemon?.name]"
>

  <div class="PokemonCard_Image">
    <img 
      appSkeleton 
      [active]="isLoading" 
      [isImage]="true" 
      [width]="'100%'" 
      [height]="'100%'"
      mat-card-image 
      src={{pokemon?.images?.normal}} 
      alt="Photo of a Shiba Inu"
     >
  </div>
  <div class="PokemonCard_Info">
    <p id="pokemonNumber" 
      appSkeleton 
      [active]="isLoading" 
      [width]="'70px'" 
      [height]="'8px'"

      appPokemonId
      [pokemonId]="pokemon?.id">
        N* {{pokemon?.id}}
    </p>
    <p id="pokemonName" 
      appSkeleton 
      [active]="isLoading" 
      [width]="'90px'" 
      [height]="'20px'">
      {{pokemon?.name}}
  </p>

    <div class="PokemonCard_Types">
      <app-pokemon-type-pill 
        [pokemonType]="type" 
        [loading]="isLoading" 
        *ngFor="let type of pokemon?.types"
      ></app-pokemon-type-pill>
    </div>
  </div>
</div>

