.MainLayout_Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
    height: 100%;

    background: #424242 url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");

    .MainLayout_Header {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .MainLayout_Navbar {
        display: flex;
        flex-direction: column;

        position: sticky;

        top: 0;
        z-index: 3;
    }

    .MainLayout_Content {
        display: flex;
        flex: 1;
        
        margin: 0 auto;
        margin-top: 150px;

        width: 100%;
        height: 100%;
        
        max-width: 1280px;
        position: relative;
    }
    .MainLayout_Footer {}
}