:host {
    width: 100%;
}

.Home_MainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    background: #ffff url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
    section {
        width: 100%;
    }
}