:host {
    width: 100%;
}

.PokemonDetails_MainContainer {
    
    .PokemonDetails_PokemonBasicInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;      
        width: 100%;

        img {
            width: 50%;
        }
    }
    .PokemonDetails_PokemonInfo {
        display: flex;
    }
    .PokemonDetails_PokemonExtraInfo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        .PokemonDetails_InfoCard {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;

        }

        .PokemonDetails_PokemonTypes,
        .PokemonDetails_PokemonMoves,
        .PokemonDetails_PokemonData {
            display: flex;
            flex-direction: column;
            align-items: center;
        
        }
        
        .PokemonDetails_PokemonTypes,
        .PokemonDetails_PokemonData {
            width: 50%;

        }
        .PokemonDetails_PokemonMoves {
            width: 100%;
        }
        
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .PokemonDetails_MainContainer {
        .PokemonDetails_PokemonBasicInfo {
            flex-direction: column;
        }
        // .PokemonDetails_PokemonContainer {
        //     .PokemonDetails_PokemonDetails {
        .PokemonDetails_PokemonExtraInfo {
            gap: 50px;

            .PokemonDetails_PokemonTypes,
            .PokemonDetails_PokemonData {
                width: 100%
            }
        }
            }
    //     }
    // }
}