:host {
    width: 100%;
}

.PokemonDetails_MainContainer {
    display: flex;
    flex-direction: column;

    .PokemonDetails_Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .PokemonDetails_PokemonHeader {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 50%;
            }
        }
    }
}