<div class="PokemonDetails_MainContainer">
    <div class="PokemonDetails_Header">
        <div class="PokemonDetails_PokemonHeader" *ngFor="let pokemon of pokemons.data">
            <h2>Name: {{pokemon.name}}</h2>
            <img 
            mat-card-image 
            src={{pokemon.images.normal}} 
            alt="Photo pokemon"
        >
        </div>
    </div>
    <app-pokemon-stats [pokemons]="pokemons.data"></app-pokemon-stats>

    <mat-tab-group>
        <mat-tab *ngFor="let pokemon of pokemons.data" label="{{pokemon.name}}">
            <app-pokemon-info [pokemon]="pokemon"></app-pokemon-info>
        </mat-tab>
      </mat-tab-group>
</div>