:host {
    width: 100%;
}

.PokemonSectionDetails_Maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
    .PokemonSectionDetails_ContentContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        justify-content: space-around;
        padding: 60px 20px;
        background-color: white;
        height: 100%;
        gap: 20px;
        width: 80%;
    }

    .PokemonSectionDetails_Header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;  
    }
    .PokemonSectionDetails_PokemonContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 100%;

        .PokemonSectionDetails_PokemonList {
            display: flex;
            width: 100%;
            overflow-y: scroll;
            height: 100vh;
        }
        .PokemonSectionDetails_PokemonDetails {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;


            .PokemonSectionDetails_PokemonBasicInfo {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;      
                width: 100%;

                img {
                    width: 50%;
                }
            }
            .PokemonSectionDetails_PokemonInfo {
                display: flex;
            }
            .PokemonSectionDetails_PokemonExtraInfo {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: center;
                width: 100%;

                .PokemonSectionDetails_InfoCard {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 10px;

                }

                .PokemonSectionDetails_PokemonTypes,
                .PokemonSectionDetails_PokemonMoves,
                .PokemonSectionDetails_PokemonData {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                
                }
                
                .PokemonSectionDetails_PokemonTypes,
                .PokemonSectionDetails_PokemonData {
                    width: 50%;

                }
                .PokemonSectionDetails_PokemonMoves {
                    width: 100%;
                }
                
            }
            
            
        }
    }

}


