<div class="PokemonSectionDetails_Maincontainer">
    <div class="PokemonSectionDetails_ContentContainer">
        <div class="PokemonSectionDetails_Header">
            <app-go-back></app-go-back>
            <button
                (click)="isComparingSwitch()"
                mat-raised-button 
                color="warn"
                id="comparePokemon"
                [disabled]="pokemonDetails?.data?.length == 2"
            >Compare</button>
        </div>

        <div class="PokemonSectionDetails_PokemonContainer" *ngIf="pokemonDetails?.data as pokemonDetailsAlias">
            <div class="PokemonSectionDetails_PokemonDetails" *ngFor="let pokemonDetailsAliasEl of pokemonDetailsAlias">
                    <app-pokemon-details [pokemon]="pokemonDetailsAliasEl"></app-pokemon-details>
            </div>
            <!-- <div id="rootObserver" class="PokemonSectionDetails_PokemonList" *ngIf="isComparing">
                <app-pokemon-filterable-list
                    (onPokemonClick)="addNewPokemonComparison($event)"
                >
                </app-pokemon-filterable-list>
            </div> -->
        </div>
    </div>
</div>
