:host {
    width: 100%;
}

.PokemonSectionDetails_Maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
    .PokemonSectionDetails_ContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 60px 20px;
        background-color: white;
        height: 100%;
        gap: 20px;
        width: 80%;

        .PokemonSectionDetails_Header {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;  
        }
        .PokemonSectionDetails_PokemonContainer {
            display: flex;
        }

    }
}


