:host {
    width: 100%;
}

.PokemonSectionDetails_Maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
    .PokemonSectionDetails_Contentcontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        justify-content: space-around;
        padding: 60px 20px;
        background-color: white;
        height: 100%;
        gap: 20px;
        width: 80%;
    }

}

